.coin {
  transform: translate(-50%, -50%);
  animation: spin 4s linear infinite;
  position: absolute;
  top: 50%;
  left: 80%;
}
.idea{
  position: absolute;
  top: 70%;
  right: 80%;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.graph{
  position: absolute;
  top: 10%;
  left: 20%;
}
.profit{
  position: absolute;
  top: 25%;
  left: 80%;
}
.banner{
  background-image: url('/public/reshot-illustration-education-saving-plan-NZ3Q7X28LK-4094c.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 60%;
  
}